@using FindMyMain.Extensions
@model FindMyMain.ViewModel.GameViewModel

@{
    ViewBag.Title = "Play";
}
<div class="jumbotron fullBackground2">
    <div class="container">
        <div class="row">
            <div class="col-md-4 fmm-90VH">
                <ul class="container " id="fmm-chat">
                    <li class="row">
                        <div class="media">
                            <div class="media-left media-middle">
                                @{
                                    var iconUrl = "http://ddragon.leagueoflegends.com/cdn/" + Model.GameVersion + "/img/profileicon/" + Model.FellowPlayerIconId + ".png";
                                }
                                <img src="@iconUrl" class="img-circle media-left media-middle fmm-chatImage gold" />
                            </div>
                            <div class="media-body">
                                <p class="fmm-chatMessage gold">
                                    Try to guess who is the main chapion of <em>@Model.FellowPlayerName</em>.
                                    She/he played <em>@Model.FellowPlayerChampionName</em> @(Model.SameTeam ? "with" : "against") you as <em>@Model.PlayerChampionName</em> @(Model.NGamesAgo == 1 ? "in last game" : Model.NGamesAgo.ToString() + " games ago").
                                </p>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="col-md-8 fmm-90VH">
                
                <p><input type="text" id="fmm-filter" placeholder="Search" class="fmm-input" /></p>

                <div id="fmm-grid">
                    @foreach (var champion in Model.Champions)
                    {
                        string championImageUrl = "http://ddragon.leagueoflegends.com/cdn/" + Model.GameVersion + "/img/champion/" + champion.image.full;

                        @Ajax.ImageActionLink(championImageUrl, champion.name, champion.id, "SelectedChampion", new { championId = champion.id }, new AjaxOptions() { OnSuccess = "processAnswer" });
                    }
                </div>

            </div>
        </div>
    </div>
</div>