@model FindMyMain.ViewModel.GameViewModel

@{
    ViewBag.Title = "Play";
}

<h2>Play</h2>

<p>Try to guess who is the main chapion of: @Model.FellowPlayerName. She/he played
    @if (@Model.SameTeam) {
        <span>with</span>
    }
    else
    {
        <span>against</span>
    } you as @Model.FellowPlayedChampionName (you've played @Model.PlayerChampionName)
    @if (Model.NGamesAgo == 1)
    {
        <span>in last game</span>
    }
    else
    {
        <span>@Model.NGamesAgo games ago</span>
    }
</p>
